header {
    background-color: whitesmoke;
    background-image: url("/Imagenes/Header.jpg");
    background-size: cover;      /* ajusta la imagen */
    background-position: center; /* la centra */
    height: 300px;               /* altura del header */
    color: white;
    display: flex;
    align-items: center;
    width:auto;
}